{
  "openapi": "3.1.0",
  "info": {
    "title": "Voyager Public API",
    "version": "1.0.0",
    "description": "Query aggregated data from Starknet via the Voyager API.",
    "termsOfService": "https://voyager.online/terms-of-use",
    "contact": {
      "name": "Voyager Support",
      "url": "https://voyager.online"
    }
  },
  "servers": [
    {
      "url": "https://public-api.voyager.online/beta",
      "description": "Mainnet"
    },
    {
      "url": "https://public-sepolia-api.voyager.online/beta",
      "description": "Sepolia Testnet"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Get your key at https://apis.voyager.online"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "MessageErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "ForbiddenResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Authentication error message"
          }
        },
        "required": [
          "message"
        ]
      },
      "RateLimitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Rate limit exceeded message"
          }
        },
        "required": [
          "message"
        ]
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Validation error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "NotFoundResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Not found error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "PaginationQuery": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          }
        },
        "description": "Standard pagination parameters"
      },
      "CursorPaginationQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "default": "ffffffffffffffffffffff",
            "description": "Opaque cursor returned by the previous response. Omit for the first request."
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Maximum number of items to return. Defaults to 25."
          }
        },
        "description": "Cursor-based pagination parameters"
      },
      "ListBlocksResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blockNumber": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "hash": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "timestamp": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "stateRoot": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "txnCount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "messageCount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "eventCount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "l1VerificationTxHash": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "status": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "blockNumber",
                "timestamp",
                "txnCount",
                "messageCount",
                "eventCount"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "BlockHashParam": {
        "type": "object",
        "properties": {
          "blockHash": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66}|[0-9]+|pre_confirmed)$",
            "description": "Block number, block hash (0x-prefixed hex), or \"pre_confirmed\" for pending blocks."
          }
        },
        "required": [
          "blockHash"
        ]
      },
      "BlockDetails": {
        "type": "object",
        "properties": {
          "blockNumber": {
            "type": [
              "number",
              "null"
            ]
          },
          "hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "type": [
              "number",
              "null"
            ]
          },
          "stateRoot": {
            "type": [
              "string",
              "null"
            ]
          },
          "txnCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "messageCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "eventCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "l1VerificationTxHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "prevBlockHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "nextBlockHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "confirmations": {
            "type": [
              "number",
              "null"
            ]
          },
          "sequencerAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalFee": {
            "type": [
              "string",
              "null"
            ]
          },
          "timeToMine": {
            "type": [
              "number",
              "null"
            ]
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "ethGasPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "strkGasPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "l1AcceptTime": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "blockNumber",
          "timestamp",
          "txnCount",
          "messageCount",
          "eventCount",
          "confirmations",
          "timeToMine",
          "l1AcceptTime"
        ]
      },
      "ListTransactionsQuery": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "to": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Filter transactions sent to a specific contract address."
          },
          "block": {
            "type": "string",
            "default": "",
            "description": "Filter by block. Accepts a block number, a block hash (0x-prefixed hex string), or \"pre_confirmed\" for pending transactions."
          },
          "type": {
            "type": "string",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "null"
            ],
            "description": "Filter by transaction type: DEPLOY (0), INVOKE (1), DECLARE (2), L1_HANDLER (3), DEPLOY_ACCOUNT (4)."
          },
          "rejected": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "description": "When \"true\", returns only rejected transactions. Ignored when block is set (rejected transactions are not associated with any block). Can be combined with the \"to\" filter. Defaults to false."
          }
        }
      },
      "ListTransactionsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "blockNumber": {
                      "type": "number"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "index": {
                      "type": "number"
                    },
                    "l1VerificationHash": {
                      "type": "string"
                    },
                    "classHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "contractAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "actualFee": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "contractAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "classAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "blockNumber",
                    "hash",
                    "index",
                    "l1VerificationHash",
                    "classHash",
                    "contractAddress",
                    "timestamp",
                    "actualFee",
                    "contractAlias",
                    "classAlias",
                    "status",
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "contractAddress": {
                      "type": "string"
                    },
                    "classHash": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "failureCode": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "hash",
                    "type",
                    "timestamp",
                    "contractAddress",
                    "classHash",
                    "status",
                    "failureCode"
                  ]
                }
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "MetaTransactionsQuery": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "to": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Filter by destination contract address (0x-prefixed hex)."
          }
        },
        "required": [
          "to"
        ]
      },
      "ListMetaTransactionsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blockNumber": {
                  "type": "number"
                },
                "blockId": {
                  "type": "string"
                },
                "hash": {
                  "type": "string"
                },
                "index": {
                  "type": "number"
                },
                "l1VerificationHash": {
                  "type": "string"
                },
                "classHash": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "contractAddress": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "timestamp": {
                  "type": "number"
                },
                "actualFee": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "contractAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "classAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "senderAddress": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "senderAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "status": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "actions": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "executionStatus": {
                  "type": "string"
                },
                "finalityStatus": {
                  "type": "string"
                },
                "operations": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "selector": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "revertError": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "blockNumber",
                "blockId",
                "hash",
                "index",
                "l1VerificationHash",
                "classHash",
                "contractAddress",
                "timestamp",
                "actualFee",
                "contractAlias",
                "classAlias",
                "senderAddress",
                "senderAlias",
                "status",
                "type",
                "actions",
                "executionStatus",
                "finalityStatus",
                "operations"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "TransactionHashParam": {
        "type": "object",
        "properties": {
          "txnHash": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Transaction hash (0x-prefixed hex)."
          }
        },
        "required": [
          "txnHash"
        ]
      },
      "TransactionDetails": {
        "type": "object",
        "properties": {
          "blockNumber": {
            "type": "number"
          },
          "hash": {
            "type": "string"
          },
          "index": {
            "type": "number"
          },
          "l1VerificationHash": {
            "type": "string"
          },
          "classHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "type": "number"
          },
          "actualFee": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "classAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "blockId": {
            "type": "string"
          },
          "actualFeeUnit": {
            "type": [
              "string",
              "null"
            ]
          },
          "usdFormattedMaxFee": {
            "type": [
              "string",
              "null"
            ]
          },
          "usdHistoricalFormattedMaxFee": {
            "type": [
              "string",
              "null"
            ]
          },
          "executionResources": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "steps": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "memory_holes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "pedersen_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "range_check_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bitwise_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "output_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "ecdsa_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "ec_op_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "poseidon_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "keccak_builtin_applications": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "segment_arena_builtin": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "data_availability": {
                    "type": "object",
                    "properties": {
                      "l1_gas": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "l1_data_gas": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "l1_gas": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "l1_data_gas": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "l2_gas": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            ]
          },
          "tip": {
            "type": [
              "string",
              "null"
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "blockNumber": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "blockHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "selector": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nestedName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nestedEventNames": {
                      "type": "array",
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "contractAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "blockNumber",
                    "timestamp",
                    "nestedEventNames"
                  ]
                }
              },
              "tokensTransferred": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "to": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "amount": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "function": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "symbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decimals": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "usd": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "usdHistoricalPrice": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "usdHistorical": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "index": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenLogoUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "decimals",
                    "usdHistoricalPrice"
                  ]
                }
              },
              "feeTransferred": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "to": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "amount": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "function": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "symbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decimals": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "usd": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "usdHistoricalPrice": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "usdHistorical": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "index": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenLogoUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "decimals",
                    "usdHistoricalPrice"
                  ]
                }
              },
              "nftTransferred": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "Mint",
                        "Transfer",
                        "Burn",
                        "Sale"
                      ]
                    },
                    "nftContractAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "from": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "to": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "quantity": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "collectionName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "collectionImage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "collectionSymbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "itemName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "itemImage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "itemImageSmall": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "marketplaceContractAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nftPrice": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "paymentTokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              }
            },
            "required": [
              "events",
              "tokensTransferred",
              "feeTransferred",
              "nftTransferred"
            ]
          },
          "executionStatus": {
            "type": "string",
            "enum": [
              "Rejected",
              "Reverted",
              "Succeeded"
            ]
          },
          "signature": {
            "type": "array",
            "items": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          "contractAddressSalt": {
            "type": [
              "string",
              "null"
            ]
          },
          "senderAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "maxFee": {
            "type": [
              "string",
              "null"
            ]
          },
          "nonce": {
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "selector": {
            "type": "string"
          },
          "calldata": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "constructorCalldata": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "transactionFailureReason": {
            "type": "object",
            "properties": {
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "error_message": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "revertError": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "blockNumber",
          "hash",
          "index",
          "l1VerificationHash",
          "classHash",
          "contractAddress",
          "timestamp",
          "actualFee",
          "contractAlias",
          "classAlias",
          "status",
          "type",
          "blockId",
          "actualFeeUnit",
          "usdFormattedMaxFee",
          "usdHistoricalFormattedMaxFee",
          "executionResources",
          "tip",
          "receipt",
          "executionStatus",
          "signature",
          "contractAddressSalt",
          "senderAddress",
          "maxFee",
          "nonce",
          "version",
          "selector",
          "revertError"
        ]
      },
      "ListContractsParams": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Filter by contract type. Case-insensitive.",
            "enum": [
              "account",
              "erc20",
              "erc721",
              "erc1155",
              "unknown",
              "proxy"
            ]
          }
        }
      },
      "ListContractsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "blockNumber": {
                  "type": "number"
                },
                "isAccount": {
                  "type": "boolean"
                },
                "isErcToken": {
                  "type": "boolean"
                },
                "isProxy": {
                  "type": "boolean"
                },
                "type": {
                  "type": "string"
                },
                "creationTimestamp": {
                  "type": "number"
                },
                "verifiedTimestamp": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "classAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "contractAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "classHash": {
                  "type": "string"
                },
                "version": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "blockHash": {
                  "type": "string"
                }
              },
              "required": [
                "address",
                "blockNumber",
                "isAccount",
                "isErcToken",
                "isProxy",
                "type",
                "creationTimestamp",
                "verifiedTimestamp",
                "classAlias",
                "contractAlias",
                "classHash",
                "version",
                "blockHash"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "ContractAddressParams": {
        "type": "object",
        "properties": {
          "contractAddress": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Starknet contract address (0x-prefixed hex)."
          }
        },
        "required": [
          "contractAddress"
        ]
      },
      "ContractDetails": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "blockNumber": {
            "type": "number"
          },
          "isAccount": {
            "type": "boolean"
          },
          "isErcToken": {
            "type": "boolean"
          },
          "isProxy": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "creationTimestamp": {
            "type": "number"
          },
          "verifiedTimestamp": {
            "type": [
              "number",
              "null"
            ]
          },
          "classAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "classHash": {
            "type": "string"
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "blockHash": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "implementationContract": {
            "type": [
              "string",
              "null"
            ]
          },
          "tokenName": {
            "type": [
              "string",
              "null"
            ]
          },
          "tokenSymbol": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "address",
          "blockNumber",
          "isAccount",
          "isErcToken",
          "isProxy",
          "type",
          "creationTimestamp",
          "verifiedTimestamp",
          "classAlias",
          "contractAlias",
          "classHash",
          "version",
          "blockHash",
          "nonce",
          "implementationContract",
          "tokenName",
          "tokenSymbol"
        ]
      },
      "ListTokenBalancesResponse": {
        "type": "object",
        "properties": {
          "erc20TokenBalances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "balance": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "decimals": {
                  "anyOf": [
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "symbol": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "usdBalance": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "usdFormattedBalance": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "formattedBalance": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "iconLogo": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isVerified": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "price": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "tags": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string",
                    "enum": [
                      "Unknown",
                      "Verified",
                      "Community",
                      "Unruggable",
                      "AVNU"
                    ]
                  }
                }
              }
            }
          },
          "verfiedTokensCount": {
            "type": "number"
          },
          "totalTokensCount": {
            "type": "number"
          },
          "totalUsdValue": {
            "type": "string"
          }
        },
        "required": [
          "erc20TokenBalances",
          "verfiedTokensCount",
          "totalTokensCount",
          "totalUsdValue"
        ]
      },
      "ContractTransfersQuery": {
        "type": "object",
        "properties": {
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "type": {
            "type": "string",
            "enum": [
              "erc20",
              "erc721",
              "erc1155"
            ],
            "default": "erc20",
            "description": "Token standard to filter by: \"erc20\", \"erc721\", or \"erc1155\". Defaults to \"erc20\"."
          },
          "from": {
            "type": [
              "string",
              "null"
            ],
            "description": "Filter by sender address (0x-prefixed hex)."
          },
          "to": {
            "type": [
              "string",
              "null"
            ],
            "description": "Filter by recipient address (0x-prefixed hex)."
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ],
            "description": "Filter by token symbol (e.g. ETH, STRK)."
          },
          "tokenAddress": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Token contract address (0x-prefixed hex)."
          },
          "timestampFrom": {
            "type": [
              "number",
              "null"
            ],
            "description": "Unix timestamp (seconds) for the start of the query window (inclusive). Must be within the contract's transfer activity range, available in the response `range` object. If omitted, it is derived automatically from timestampTo (up to 90 days back or the contract's first transfer). The window between timestampFrom and timestampTo must not exceed 90 days."
          },
          "timestampTo": {
            "type": [
              "number",
              "null"
            ],
            "description": "Unix timestamp (seconds) for the end of the query window (inclusive). Must be within the contract's transfer activity range, available in the response `range` object. If omitted, it is derived automatically from timestampFrom (up to 90 days forward or the contract's last transfer). The window between timestampFrom and timestampTo must not exceed 90 days."
          },
          "invocationType": {
            "type": [
              "string",
              "null"
            ],
            "default": "ALL",
            "description": "Transaction execution phase: VALIDATE, EXECUTE, FEE_TRANSFER, ALL_EXCEPT_FEE_TRANSFER (ERC-20 only: hide fee-phase transfers), or ALL (no filter). Defaults to ALL."
          },
          "id": {
            "type": "string",
            "description": "Cursor for keyset pagination. Pass the id from the last item of the previous response to fetch the next page."
          },
          "order_by": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "description": "Sort direction: ascending or descending. Defaults to descending."
          }
        }
      },
      "ListContractTransfersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "blockNumber": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "operator": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferFrom": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferTo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "dataLen": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "ids": {
                      "anyOf": [
                        {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "values": {
                      "anyOf": [
                        {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "txHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "callName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "blockHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "invocationType": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenSymbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenDecimals": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenIcon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "blockNumber",
                    "timestamp",
                    "dataLen",
                    "tokenName",
                    "tokenSymbol",
                    "tokenDecimals",
                    "tokenIcon"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "blockNumber": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "transferFrom": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferTo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "txHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "callName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "blockHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "invocationType": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenSymbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenDecimals": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenIcon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "blockNumber",
                    "timestamp",
                    "tokenName",
                    "tokenSymbol",
                    "tokenDecimals",
                    "tokenIcon"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "blockNumber": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenAddress": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "transferFrom": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferTo": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferValue": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "transferValueFormatted": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "txHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "callName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "blockHash": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fromDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "toDomain": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "invocationType": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenSymbol": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenDecimals": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "tokenIcon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "blockNumber",
                    "timestamp",
                    "tokenName",
                    "tokenSymbol",
                    "tokenDecimals",
                    "tokenIcon"
                  ]
                }
              ]
            },
            "description": "Token transfer records for the requested window."
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when additional pages are available. Pass the last item's id to fetch the next page."
          },
          "range": {
            "type": "object",
            "properties": {
              "startTimestamp": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Unix timestamp (seconds) of the contract's first recorded transfer, or null if no transfers exist."
              },
              "endTimestamp": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Unix timestamp (seconds) of the contract's most recent transfer, or null if no transfers exist."
              }
            },
            "required": [
              "startTimestamp",
              "endTimestamp"
            ],
            "description": "The contract's full transfer activity range. Use these values to construct follow-up queries."
          }
        },
        "required": [
          "items",
          "hasMore",
          "range"
        ]
      },
      "BalanceHistoryQuery": {
        "type": "object",
        "properties": {
          "timerange": {
            "type": "string",
            "enum": [
              "1y",
              "1m",
              "3m",
              "6m",
              "1w"
            ],
            "default": "1m",
            "description": "Time window: \"1w\", \"1m\", \"3m\", \"6m\", or \"1y\". Defaults to \"1m\"."
          },
          "token_address": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Token contract address (0x-prefixed hex)."
          }
        }
      },
      "BalanceHistoryResponse": {
        "type": [
          "array",
          "null"
        ],
        "items": {
          "type": "object",
          "properties": {
            "address": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "decimals": {
              "type": [
                "number",
                "null"
              ]
            },
            "balance": {
              "type": [
                "string",
                "null"
              ]
            },
            "logo": {
              "type": "string"
            },
            "isVerified": {
              "type": [
                "boolean",
                "null"
              ]
            },
            "lastTransferTime": {
              "type": [
                "number",
                "null"
              ]
            },
            "balanceHistory": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string"
                  },
                  "balance": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "day"
                ]
              }
            }
          },
          "required": [
            "address",
            "name",
            "symbol",
            "decimals",
            "balanceHistory"
          ]
        }
      },
      "TokensHeldResponse": {
        "type": [
          "array",
          "null"
        ],
        "items": {
          "type": "object",
          "properties": {
            "address": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "decimals": {
              "type": [
                "number",
                "null"
              ]
            },
            "balance": {
              "type": [
                "string",
                "null"
              ]
            },
            "lastTransferTime": {
              "type": [
                "number",
                "null"
              ]
            },
            "logo": {
              "type": "string"
            },
            "isVerified": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          "required": [
            "address",
            "name",
            "symbol",
            "decimals",
            "lastTransferTime"
          ]
        }
      },
      "ListClassesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                },
                "transactionHash": {
                  "type": "string"
                },
                "version": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "type": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "isAccount": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "isProxy": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "isErcToken": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "creationTimestamp": {
                  "type": [
                    "number",
                    "null"
                  ]
                }
              },
              "required": [
                "hash",
                "transactionHash",
                "version",
                "type",
                "isAccount",
                "isProxy",
                "isErcToken",
                "creationTimestamp"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "ListVerifiedClassesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "classHash": {
                  "type": "string"
                },
                "verifiedTimestamp": {
                  "type": "number"
                },
                "verifiedName": {
                  "type": "string"
                }
              },
              "required": [
                "classHash",
                "verifiedTimestamp",
                "verifiedName"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "ClassHashParam": {
        "type": "object",
        "properties": {
          "classHash": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Starknet class hash (0x-prefixed hex)."
          }
        },
        "required": [
          "classHash"
        ]
      },
      "ClassDetails": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "transactionHash": {
            "type": "string"
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "number",
              "null"
            ]
          },
          "isAccount": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isProxy": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isErcToken": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "creationTimestamp": {
            "type": [
              "number",
              "null"
            ]
          },
          "contractsCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "declaredBy": {
            "type": "string"
          },
          "code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "abi": {},
          "byteCode": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "license": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "hash",
          "transactionHash",
          "version",
          "type",
          "isAccount",
          "isProxy",
          "isErcToken",
          "creationTimestamp",
          "contractsCount",
          "declaredBy",
          "code",
          "byteCode",
          "license"
        ]
      },
      "ClassSourceCode": {
        "type": "object",
        "properties": {
          "classHash": {
            "type": "string"
          },
          "sourceCode": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "compilerVersion": {
            "type": "string"
          },
          "verifiedTimestamp": {
            "type": "number"
          },
          "adminName": {
            "type": "string"
          },
          "verifiedName": {
            "type": "string"
          }
        },
        "required": [
          "classHash",
          "sourceCode",
          "compilerVersion",
          "verifiedTimestamp"
        ]
      },
      "ListClassContractsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "creationTimestamp": {
                  "type": "number"
                },
                "txnCount": {
                  "type": "number"
                },
                "starknetId": {
                  "type": "string"
                },
                "accountCallCount": {
                  "type": "number"
                },
                "contractAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "constructorCalldata": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "address",
                "creationTimestamp",
                "txnCount",
                "starknetId",
                "contractAlias",
                "constructorCalldata"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "ListTokensQuery": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "type": {
            "type": "string",
            "enum": [
              "erc20",
              "erc721",
              "erc1155"
            ],
            "default": "erc20",
            "description": "Token standard to filter by: \"erc20\", \"erc721\", or \"erc1155\". Defaults to \"erc20\"."
          },
          "attribute": {
            "type": "string",
            "enum": [
              "holders",
              "transfers",
              "market_cap"
            ],
            "default": "holders",
            "description": "Sort tokens by attribute: \"holders\" (holder count), \"transfers\" (transfer count), or \"market_cap\". Defaults to \"holders\"."
          }
        }
      },
      "ListTokensResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "symbol": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "decimals": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "transfers": {
                  "type": "string"
                },
                "holders": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "erc20",
                    "erc721",
                    "erc1155"
                  ]
                }
              },
              "required": [
                "address",
                "name",
                "symbol",
                "decimals",
                "transfers",
                "holders",
                "type"
              ]
            }
          },
          "lastPage": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "lastPage"
        ]
      },
      "TokenAddressParam": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Token contract address (0x-prefixed hex)."
          }
        },
        "required": [
          "address"
        ],
        "description": "Token contract address parameter"
      },
      "TokenHoldersQuery": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "type": {
            "type": "string",
            "enum": [
              "erc20",
              "erc721",
              "erc1155"
            ],
            "default": "erc20",
            "description": "Token standard to filter by: \"erc20\", \"erc721\", or \"erc1155\". Defaults to \"erc20\"."
          }
        }
      },
      "ListTokenHoldersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "balance": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "lastTransferTime": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "contractAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "starknetId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "lastTransferTime"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "balance": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "lastTransferTime": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "contractAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "starknetId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "lastTransferTime"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "lastTransferTime": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "contractAlias": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "starknetId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "decimals": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "holder": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "balance": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "balanceSeparated": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "lastTransferTime"
                  ]
                }
              ]
            }
          },
          "lastPage": {
            "type": "number"
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "lastPage",
          "hasMore"
        ]
      },
      "HoldersOverviewResponse": {
        "type": "object",
        "properties": {
          "overview": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "tokenAddress": {
                "type": "string"
              },
              "totalSupply": {
                "type": "string"
              },
              "burnedSupply": {
                "type": "string"
              },
              "circulatingSupply": {
                "type": "string"
              },
              "holderCount": {
                "type": "number"
              },
              "holdersOver1Pct": {
                "type": "number"
              },
              "topNConcentration": {
                "type": "object",
                "properties": {
                  "top5": {
                    "type": "number"
                  },
                  "top10": {
                    "type": "number"
                  },
                  "top100": {
                    "type": "number"
                  }
                },
                "required": [
                  "top5",
                  "top10",
                  "top100"
                ]
              },
              "concentrationBuckets": {
                "type": "object",
                "properties": {
                  "top_1_5": {
                    "type": "number"
                  },
                  "top_6_10": {
                    "type": "number"
                  },
                  "top_11_25": {
                    "type": "number"
                  },
                  "top_26_50": {
                    "type": "number"
                  },
                  "top_51_100": {
                    "type": "number"
                  },
                  "outside_100": {
                    "type": "number"
                  }
                },
                "required": [
                  "top_1_5",
                  "top_6_10",
                  "top_11_25",
                  "top_26_50",
                  "top_51_100",
                  "outside_100"
                ]
              },
              "tierDistribution": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string",
                      "enum": [
                        "whale",
                        "shark",
                        "dolphin",
                        "fish",
                        "crab",
                        "shrimp"
                      ]
                    },
                    "count": {
                      "type": "number"
                    },
                    "supplyShare": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "tier",
                    "count",
                    "supplyShare"
                  ]
                }
              },
              "walletDepthUsd": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "type": "object",
                  "properties": {
                    "usdThreshold": {
                      "type": "number"
                    },
                    "walletCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "usdThreshold",
                    "walletCount"
                  ]
                }
              },
              "giniTop10k": {
                "type": "number"
              },
              "tokenUsdPrice": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "computedAt": {
                "type": "string"
              },
              "isStale": {
                "type": "boolean"
              },
              "isRecomputing": {
                "type": "boolean"
              }
            },
            "required": [
              "tokenAddress",
              "totalSupply",
              "burnedSupply",
              "circulatingSupply",
              "holderCount",
              "holdersOver1Pct",
              "topNConcentration",
              "concentrationBuckets",
              "tierDistribution",
              "walletDepthUsd",
              "giniTop10k",
              "tokenUsdPrice",
              "computedAt",
              "isStale",
              "isRecomputing"
            ]
          }
        },
        "required": [
          "overview"
        ],
        "description": "Holders analytics overview snapshot (null when no snapshot yet)"
      },
      "Event": {
        "type": "object",
        "properties": {
          "blockNumber": {
            "type": [
              "number",
              "null"
            ]
          },
          "transactionNumber": {
            "type": [
              "number",
              "null"
            ]
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "fromAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "classHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "transactionHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "blockId": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "type": [
              "number",
              "null"
            ]
          },
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "classAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "contractAlias": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "nestedName": {
            "type": [
              "string",
              "null"
            ]
          },
          "nestedEventNames": {
            "type": "array",
            "items": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          "selector": {
            "type": [
              "string",
              "null"
            ]
          },
          "dataDecoded": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {},
                          "type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {},
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "keyDecoded": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {},
                          "type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {},
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          }
        },
        "required": [
          "blockNumber",
          "transactionNumber",
          "number",
          "timestamp"
        ]
      },
      "ListEventsParams": {
        "type": "object",
        "properties": {
          "p": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Page number. Defaults to 1."
          },
          "ps": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "default": 25,
            "description": "Number of items per page. Available options: 10, 25, 50, 100."
          },
          "contract": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Filter by contract address. Mutually exclusive with blockHash and txnHash — providing both returns 400."
          },
          "txnHash": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]{1,66})$",
            "description": "Filter by transaction hash. Mutually exclusive with contract — providing both returns 400."
          },
          "blockHash": {
            "type": "string",
            "pattern": "^(0x[0-9a-fA-F]+|pre_confirmed)$",
            "description": "Filter by block hash. Mutually exclusive with contract — providing both returns 400."
          }
        }
      },
      "ListEventsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blockNumber": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "transactionNumber": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "number": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "fromAddress": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "classHash": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "transactionHash": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "blockId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "timestamp": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "classAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "contractAlias": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "nestedName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "nestedEventNames": {
                  "type": "array",
                  "items": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "selector": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "dataDecoded": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "value": {
                        "anyOf": [
                          {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          {
                            "type": "array",
                            "items": {
[...]
