openapi: 3.1.0
info:
  title: Starkscan Explorer API
  version: 2.1.0
  description: Starkscan public explorer contract for external integrators, SDKs, CLI workflows, and direct API integrations, including beta Privacy Pool activity, evidence, metrics, and finalized public-flow routes. Operation-level certification and stability metadata define the support boundary.
servers:
  - url: https://api.starkscan.co
    description: Hosted external Starkscan API base. Requests execute against /v1/* on the API host; app-host /api/v1/* remains compatibility.
security:
  - StarkscanApiKey: []
paths:
  /v1/{chain}/staking:
    get:
      operationId: getStakingSummary
      summary: Prepared finalized staking summary
      description: DB-only prepared staking facts; no RPC, provider, raw-event, historical-price, or request-time complete-set scan.
      externalDocs:
        description: Prepared staking integration and coverage guide
        url: https://starkscan.co/docs/api/staking
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Prepared summary with typed coverage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingSummaryPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /v1/{chain}/staking/validators:
    get:
      operationId: listStakingValidators
      summary: Page prepared finalized validators
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 1024
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Bounded keyset page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingValidatorPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /v1/{chain}/staking/validators/{address}:
    get:
      operationId: getStakingValidator
      summary: Prepared validator detail with per-token pools and address histories
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          example: "0x0123456789abcdef"
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Prepared validator detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingValidatorDetail"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /v1/{chain}/staking/validators/{address}/delegators:
    get:
      operationId: listStakingDelegators
      summary: Page prepared finalized delegators
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          example: "0x0123456789abcdef"
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 1024
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Bounded delegator page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingDelegatorPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /v1/{chain}/staking/activity:
    get:
      operationId: listStakingActivity
      summary: Page prepared transaction-linked staking activity
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: validator
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 1024
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Bounded activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingActivityPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /v1/{chain}/staking/address/{address}:
    get:
      operationId: getAddressStaking
      summary: Prepared address staking positions and history
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          example: "0x0123456789abcdef"
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 1024
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Prepared positions and bounded history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakingAddressView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      security:
        - StarkscanApiKey: []
      tags:
        - Reference
  /.well-known/starkscan-agent.json:
    get:
      summary: Agent-readable Starkscan memory contract
      description: |-
        Public machine-readable discovery document for agents. It points agents
        at the authenticated meta routes, route families, operating rules, and
        typed artifact contract without requiring chat history.
      servers:
        - url: /
          description: Same-host public well-known discovery root
      security:
        - {}
      responses:
        "200":
          description: Agent-readable discovery and operating contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMemoryContract"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: public
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/capabilities:
    get:
      summary: Agent-readable API capabilities
      description: Authenticated route-family catalog for agents and developers. Hosted external clients call `/v1/meta/capabilities` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge. Use this before selecting the smallest route set for a task. A chain-specific token-holder registry is omitted with `policy_registry_chain_mismatch` when it does not match the deployment's default chain.
      externalDocs:
        description: Discovery workflow and published JSON Schema
        url: https://starkscan.co/docs/api/discovery
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Capability and route-family catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaCapabilitiesView"
              examples:
                trustedSameOrigin:
                  summary: Bounded representative trusted same-origin response without credential identity
                  value:
                    kind: starkscan.meta.capabilities
                    schemaVersion: '2026-08-10'
                    defaultChain: SN_MAIN
                    authHeader: X-Starkscan-Api-Key
                    externalBasePath: /v1
                    firstCalls:
                      - method: GET
                        path: /v1/meta/chains
                        purpose: Discover supported chains.
                    documentation: &a1
                      openapiUrl: https://starkscan.co/starkscan-openapi.yaml
                      openapiPath: /starkscan-openapi.yaml
                      openapiFormat: OpenAPI 3.1
                      operationReferenceFormat: URI-encoded JSON Pointer fragment
                      operationLookup: Percent-decode the URI fragment once, then resolve the JSON Pointer in the fetched OpenAPI document.
                    rateLimit: &a2
                      responseHeaders:
                        routeClass: X-Starkscan-Route-Class
                        limit: x-ratelimit-limit
                        remaining: x-ratelimit-remaining
                        policy: x-ratelimit-policy
                        retryAfter: Retry-After
                      classes:
                        - light
                        - heavy
                        - batch
                      operationDisclosure: Route-family operations disclose their response rate-limit class for class-specific backoff.
                      retryRule: On 429, honor Retry-After before retrying the same route class; rate limits are not credential revocation.
                    routeFamilies:
                      - name: status
                        tier: read
                        routes:
                          - GET /v1/{chain}/status
                        operations:
                          - method: GET
                            path: /v1/{chain}/status
                            openapiPath: /v1/{chain}/status
                            openapiMethod: get
                            openapiOperationRef: "#/paths/~1v1~1%7Bchain%7D~1status/get"
                            rateLimitClass: light
                            summary: Read bounded service and indexing status.
                        useWhen: Check service readiness and indexed progress.
                    sessionControl: &a3
                      status: separate_dashboard_session_control_plane
                      pathPrefix: /v1/me
                      apiKeyAccess: not_supported
                      safeReadAuth:
                        - better_auth_session_cookie
                        - bearer_session_token
                      mutationAuth: bearer_session_token
                      documentationPath: /docs/api/self-serve
                    apiKeyLifecycle: &a4
                      inactiveKeyResponse: generic_401_invalid_token
                      inactiveKeyWwwAuthenticate: Bearer realm="starkscan", error="invalid_token"
                      rateLimitResponse: 429_with_retry_after
                      ownerInspectionPath: /v1/me/api-keys
                      internalObservability: sanitized_lifecycle_reason_metrics
                    caller:
                      authenticated: true
                      authType: internal
                      keyClass: internal
                      scopes: []
                      scopeDisclosure: operator_internal
                      routeFamilyDisclosure: global_operator_view
                      workspacePlan: null
                      rateLimit: null
                    eventSearch: &a5
                      chain: SN_MAIN
                      positions:
                        minimum: 0
                        maximum: 15
                      bounded:
                        enabled: true
                        maximumBlocksInclusive: 10000
                      fullRange:
                        entitled: false
                        requiredWorkspacePlan: wallet
                        coverageContract: certified_per_selector_position
                        unsupportedResponse: 422_full_range_selector_not_supported
                        unavailableResponse: 503_event_key_index_coverage_unavailable
                        coverageAvailability: unavailable
                        selectorCoverage: []
                    rpcProvider:
                      status: enrolled_http_beta
                      endpoint: /v1/SN_MAIN/rpc
                      endpointTemplate: /v1/{chain}/rpc
                      authHeader: X-Starkscan-Api-Key
                      minimumSpecVersion: 0.10.2
                      publicSpecVersion: 0.10.2
                      specVersionContract: gateway_declared_compatibility
                      specVersionMethod: starknet_specVersion
                      supportedBlockTags: &a6
                        - latest
                        - pending
                        - pre_confirmed
                      conditionalBlockTags: &a7
                        l1_accepted:
                          advertised: false
                          evidence: indexed_canonical_l1_accepted_watermark
                      batch: &a8
                        supported: true
                        maxItems: 50
                        maxResponseBytes: 16777216
                        accounting: Each JSON-RPC child request is classified and rate-limited independently.
                      storageProofBeta: &a9
                        enabled: true
                        status: bounded_upstream_passthrough
                        availability: upstream_dependent
                        method: starknet_getStorageProof
                        quotaClass: rpc_read_state
                        acceptedBlockIds:
                          - latest
                          - block_number
                          - block_hash
                        rejectedBlockTags:
                          - pending
                          - pre_confirmed
                        limits:
                          maxClassHashes: 8
                          maxContractAddresses: 8
                          maxContractStoragePairs: 8
                          maxStorageKeysPerContract: 16
                          maxTotalTargets: 32
                          totalTargetCounting: class_hashes_plus_contract_addresses_plus_individual_storage_keys
                          maxResponseBytes: 1048576
                        historicalHorizon:
                          advertised: false
                          status: not_certified
                          guaranteedBlocksBehindHead: null
                          certificationTargetBlocksBehindHead: 50000
                          policy: Fixed historical block requests are forwarded to the configured upstream without an advertised archive guarantee.
                        stateDiffCommitment:
                          advertised: false
                          guaranteed: false
                          status: not_in_starknet_openrpc_0_10_2
                          passthroughPolicy: preserved_if_returned_by_upstream_not_synthesized_or_certified
                          policy: State-diff commitment is not synthesized or certified.
                        responseValidation: opaque_upstream_result_size_bounded
                      writeBeta: &a10
                        enabled: false
                        status: disabled_until_operator_enabled
                        openToAllApiKeys: false
                        methods: []
                        payloadPolicy: Signed payloads only when explicitly enabled.
                        quotaClass: rpc_write
                      traceBeta: &a11
                        status: operator_scoped
                        scope: trace
                        methods:
                          - starknet_traceTransaction
                          - starknet_traceBlockTransactions
                        quotaClass: rpc_trace
                        maxResponseBytes: 16777216
                        stateDiffPolicy: omitted_use_starknet_getStateUpdate
                        incompleteResponsePolicy: fail_closed_trace_response_incomplete
                        policy: Available only to configured trace-scoped keys.
                      quotaClasses: &a12
                        rpc_read_light:
                          - starknet_blockNumber
                        rpc_read_state:
                          - starknet_call
                        rpc_read_history:
                          - starknet_getTransactionByHash
                        rpc_simulation:
                          - starknet_estimateFee
                        rpc_write:
                          - starknet_addInvokeTransaction
                        rpc_trace:
                          - starknet_traceTransaction
                      unsupportedUntilCertified: &a13
                        - websocket_subscriptions
                        - archive_history_full_provider
                        - no_key_public_rpc
                    walletInteraction: &a14
                      enabled: false
                      status: disabled_until_operator_enabled
                      supportedChains: []
                      contractAllowlist: []
                      transactionPolicy:
                        maxCalls: 0
                        entryPointNameRequired: true
                        rawCalldataEnabled: false
                        mainnet: disabled
                      limits:
                        maxCalls: 1
                        maxCalldataFelts: 256
                        maxArguments: 64
                        maxStringBytes: 4096
                      simulation:
                        status: not_certified
                        required: false
                    operatingRules: &a15
                      - Use only operations advertised for the current caller.
                    issueReportContract: &a16
                      requiredFields:
                        - route
                        - queryParams
                        - requestBody
                        - responseStatus
                        - responseSnippet
                        - xRequestId
                      rule: Include exact request details and X-Request-Id; redact credentials and secrets.
                configuredReadKey:
                  summary: Bounded representative configured read-only key response without credential identity
                  value:
                    kind: starkscan.meta.capabilities
                    schemaVersion: '2026-08-10'
                    defaultChain: SN_MAIN
                    authHeader: X-Starkscan-Api-Key
                    externalBasePath: /api/v1
                    firstCalls:
                      - method: GET
                        path: /api/v1/meta/chains
                        purpose: Discover supported chains.
                    documentation: *a1
                    rateLimit: *a2
                    routeFamilies:
                      - name: status
                        tier: read
                        routes:
                          - GET /api/v1/{chain}/status
                        operations:
                          - method: GET
                            path: /api/v1/{chain}/status
                            openapiPath: /v1/{chain}/status
                            openapiMethod: get
                            openapiOperationRef: "#/paths/~1v1~1%7Bchain%7D~1status/get"
                            rateLimitClass: light
                            summary: Read bounded service and indexing status.
                        useWhen: Check service readiness and indexed progress.
                    sessionControl: *a3
                    apiKeyLifecycle: *a4
                    caller:
                      authenticated: true
                      authType: tester
                      keyClass: configured
                      scopes:
                        - read
                      scopeDisclosure: exact_for_api_key
                      routeFamilyDisclosure: exact_for_api_key
                      workspacePlan: null
                      rateLimit:
                        loadClass: light
                        limitPerMinute: 120
                        remaining: 120
                        retryAfterSeconds: 0
                        bucketScope: key
                    eventSearch: *a5
                    rpcProvider:
                      status: authenticated_http_beta
                      endpoint: /api/v1/SN_MAIN/rpc
                      endpointTemplate: /api/v1/{chain}/rpc
                      authHeader: X-Starkscan-Api-Key
                      minimumSpecVersion: 0.10.2
                      publicSpecVersion: 0.10.2
                      specVersionContract: gateway_declared_compatibility
                      specVersionMethod: starknet_specVersion
                      supportedBlockTags: *a6
                      conditionalBlockTags: *a7
                      batch: *a8
                      storageProofBeta: *a9
                      writeBeta: *a10
                      traceBeta: *a11
                      quotaClasses: *a12
                      unsupportedUntilCertified: *a13
                    walletInteraction: *a14
                    operatingRules: *a15
                    issueReportContract: *a16
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/chains:
    get:
      summary: Supported chain ids for this deployment
      description: Authenticated chain catalog. Hosted external clients call `/v1/meta/chains` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge.
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Supported chain metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaChainsView"
              examples:
                boundedResponse:
                  summary: Supported-chain discovery response
                  value:
                    kind: starkscan.meta.chains
                    schemaVersion: '2026-05-02'
                    defaultChain: SN_MAIN
                    chains:
                      - chainId: SN_MAIN
                        statusPath: /v1/SN_MAIN/status
                        statusPathTemplate: /v1/{chain}/status
                    selectionRule: Select a chain returned by this endpoint.
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/agent-context:
    get:
      summary: Full agent context contract
      description: Authenticated context document that combines the public agent-memory contract with handoff artifact guidance. Hosted external clients call `/v1/meta/agent-context` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge.
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Full agent context contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaAgentContextView"
              examples:
                boundedResponse:
                  summary: Agent context with source-owned handoff guidance
                  value:
                    kind: starkscan.meta.agent_context
                    schemaVersion: '2026-08-10'
                    agentMemory:
                      kind: starkscan.agent_memory
                      schemaVersion: '2026-05-02'
                      generatedFor: agents
                      auth:
                        header: X-Starkscan-Api-Key
                        externalBasePath: /v1
                        defaultChain: SN_MAIN
                      firstCalls:
                        - method: GET
                          path: /v1/meta/capabilities
                          purpose: Discover caller-safe operations.
                      routeFamilies:
                        - name: status
                          tier: read
                          routes:
                            - GET /v1/{chain}/status
                          useWhen: Check service and indexing status.
                      workspaceMemory: &a17
                        status: no_public_write_api
                        publicWriteApi: false
                        serverStoredArtifacts: not available in this deployment
                        writeSurface: not exposed in this deployment
                        localWorkspace:
                          status: internal_local_only
                          defaultDirectory: .codex/handoffs/
                          artifactPattern: .codex/handoffs/{taskId}.jsonl
                          schemaPath: docs/maintainers/schemas/agent-handoff-artifact.schema.json
                          schemaUrl: /agent-handoff-artifact.schema.json
                          guideUrl: /agent-workspace.md
                          validatorCommand: python3 scripts/ci/agent-handoff.py validate .codex/handoffs/{taskId}.jsonl
                          sampleCommand: python3 scripts/ci/agent-handoff.py sample --task-id example --created-by agent
                        handoffContract:
                          sourceOfTruth: typed JSON/JSONL artifacts, not chat history
                          artifactKinds:
                            - summary
                            - claim
                            - next_step
                          requiredFields:
                            - kind
                            - schemaVersion
                            - artifactId
                          evidenceRule: Claims point to a route, file, issue, PR, or request ID.
                          formats:
                            - application/json
                            - application/jsonl
                        rules:
                          - Never store credentials in a handoff artifact.
                      operatingRules:
                        - Use typed handoff artifacts for durable state.
                      issueReportContract:
                        requiredFields:
                          - route
                          - queryParams
                          - requestBody
                          - responseStatus
                          - responseSnippet
                          - xRequestId
                        rule: Include exact request details and X-Request-Id; redact credentials and secrets.
                    workspaceMemory: *a17
                    preferredArtifactFormat: application/jsonl
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/status:
    get:
      summary: Reject the non-chain meta status alias
      description: "`meta` is a discovery namespace, not a Starknet chain. This route always returns a typed HTTP 404 so agents cannot mistake an all-null pseudo-chain payload for a health check. Read `/v1/meta/chains`, then request `/v1/{chain}/status` for a supported chain. The trusted app-host `/v1/*` lane supplies internal authentication; direct API-host callers retain the normal Starkscan API-key boundary."
      security:
        - StarkscanApiKey: []
      responses:
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: The meta namespace is not a chain.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/{chain}/status:
    get:
      summary: Chain status
      description: Current indexed, finalized, and L1 evidence status for a supported Starknet chain. `meta` is a discovery namespace, not a chain; `/v1/meta/status` returns a typed HTTP 404. Read `/v1/meta/chains`, then use one of the returned chain ids here.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Current indexed and finalized head status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerStatusView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Status
  /v1/{chain}/status/indexing-freshness:
    get:
      summary: Indexing freshness health
      description: Fail-closed semantic health check for external monitoring. Compares one bounded live Starknet RPC head lookup with Starkscan's indexed read-model watermark. Returns HTTP 200 only when both facts are available, internally consistent, and no more than 20 blocks apart; otherwise returns HTTP 503. This endpoint evaluates Starkscan indexing freshness only and does not attribute a failure to Starknet or an upstream provider. The chain path parameter must match the chain served by the deployment; other chains return HTTP 404 without querying an RPC.
      security: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Starkscan indexing is within the monitored freshness threshold
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexingFreshnessHealthView"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/IndexingFreshnessDegraded"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: public
      tags:
        - Status
  /v1/{chain}/status/l1-finality-quorum:
    get:
      summary: L1 finality quorum health
      description: Fail-closed semantic health check for external monitoring. Reads only Starkscan's materialized status facts and returns HTTP 200 when every L1 evidence component required for the served chain has a complete, agreeing quorum from at least two configured endpoints and the oldest observation is no more than five minutes old. Missing, stale, failed, degraded, diverged, or inconsistent evidence returns HTTP 503. This route does not call Ethereum and does not identify or blame an upstream provider or Starknet. The credential-free status monitor uses the trusted app-host `/v1/*` lane; direct API-host callers retain the normal Starkscan API-key boundary.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Starkscan has a fresh, complete, agreeing L1 evidence quorum.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/L1FinalityQuorumHealthView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/L1FinalityQuorumDegraded"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Status
  /v1/{chain}/status/l1-finality-freshness:
    get:
      summary: L1 finality freshness health
      description: Fail-closed semantic health check for external monitoring. Reads only Starkscan's materialized L1 accepted proof watermark and returns HTTP 200 when the watermark and its non-negative age are available and no more than five minutes old. Missing, stale, or inconsistent evidence returns HTTP 503. This route does not call Ethereum and does not identify or blame an upstream provider or Starknet. The credential-free status monitor uses the trusted app-host `/v1/*` lane; direct API-host callers retain the normal Starkscan API-key boundary.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Starkscan's materialized L1 finality watermark is fresh.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/L1FinalityFreshnessHealthView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/L1FinalityFreshnessDegraded"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Status
  /v1/{chain}/rpc:
    post:
      summary: Starknet JSON-RPC gateway
      description: Bounded Starknet JSON-RPC gateway. Read methods are forwarded through Starkscan's rate-limited upstream pool; write methods remain gated by the RPC pilot controls. Accepts a single JSON-RPC request object or a batch of up to 50 request objects. The serialized aggregate batch response is capped at 16 MiB and fails closed with per-request `batch_response_too_large` JSON-RPC errors when that cap is exceeded. JSON parse errors, invalid JSON-RPC payloads, and authentication failures are returned as JSON-RPC error envelopes so clients can keep standard JSON-RPC handling. Authentication failures retain their HTTP 400, 401, 403, or 503 status. HTTP 401 and 403 responses preserve the WWW-Authenticate challenge; retryable 503 responses preserve Retry-After.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/JsonRpcRequest"
                - $ref: "#/components/schemas/JsonRpcBatchRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  jsonrpc: "2.0"
                  method: starknet_blockNumber
                  params: []
                  id: 1
      responses:
        "200":
          description: JSON-RPC response or JSON-RPC error envelope forwarded from the gateway
          headers:
            X-Starkscan-Rpc-Class:
              description: Quota and routing class applied to this JSON-RPC response.
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/JsonRpcResponse"
                  - $ref: "#/components/schemas/JsonRpcBatchResponse"
        "400":
          description: Malformed or conflicting authentication credential as a JSON-RPC error envelope.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
        "401":
          description: Missing or invalid credential as a JSON-RPC error envelope.
          headers:
            WWW-Authenticate:
              schema:
                type: string
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
        "403":
          description: Valid credential lacks the required scope; returned as a JSON-RPC error envelope.
          headers:
            WWW-Authenticate:
              schema:
                type: string
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Authentication lookup or authorization provider temporarily unavailable as a JSON-RPC error envelope.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
            Retry-After:
              description: Seconds to wait before retrying when the unavailable path supplies a retry delay.
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Reference
  /v1/{chain}/rpc/ws:
    get:
      summary: Starknet JSON-RPC WebSocket proxy
      description: Beta WebSocket upgrade route for Starknet JSON-RPC subscription clients. The route is disabled unless the deployment explicitly enables `RPC_WSS_ENABLED` and configures a Starknet WebSocket upstream. After a successful protocol upgrade, clients send and receive Starknet JSON-RPC subscription messages over the WebSocket connection. This lane is certified separately from the HTTP JSON-RPC gateway.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "101":
          description: WebSocket protocol upgrade accepted.
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Reference
  /v1/{chain}/block/{number_or_hash}:
    get:
      summary: Block detail by number or hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: number_or_hash
          in: path
          required: true
          schema:
            type: string
          example: "7550747"
        - name: tx_limit
          in: query
          description: Max block transactions returned (clamped to 1..200). Defaults to `50` when omitted.
          schema:
            type: integer
            format: int32
            default: 50
            minimum: 1
            maximum: 200
          example: 50
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Block detail with transaction preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Block not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          description: The requested Sepolia block was intentionally removed by the rolling indexed-history policy.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryExpiredErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/block-at-timestamp:
    get:
      summary: Resolve timestamp to indexed block
      description: Resolve a Unix seconds or RFC3339 timestamp to the closest indexed Starknet block. `closest=before` is the default and is the right choice for accounting "as of" balance snapshots such as calendar close. The route is served from indexed block facts only; RPC is used by the correctness gate, not by the request path.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: timestamp
          in: query
          required: true
          description: Unix seconds or RFC3339 timestamp with timezone.
          schema:
            oneOf:
              - type: string
                pattern: ^[0-9]{1,19}$
                description: Unix seconds.
              - type: string
                format: date-time
                maxLength: 96
                description: RFC3339 timestamp with timezone.
          example: '2025-12-31T23:59:59Z'
        - name: closest
          in: query
          description: |
            Direction for the selected block. `before` returns the last indexed block at or before the timestamp; `after` returns the first indexed block at or after the timestamp.
          schema:
            type: string
            enum:
              - before
              - after
            default: before
          example: before
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Timestamp resolution with inclusive indexed bounds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockAtTimestampView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: No indexed block exists in the requested closest direction
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/blocks:
    get:
      summary: Paginated latest blocks feed
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Optional block number cursor for reverse pagination.
          schema:
            type: integer
            format: int64
            minimum: 0
          example: 8279910
        - name: limit
          in: query
          description: Page size (clamped to 1..200). Defaults to `25` when omitted.
          schema:
            type: integer
            format: int32
            default: 25
            minimum: 1
            maximum: 200
          example: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Chain blocks page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainBlockListPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/block/{number}/txs:
    get:
      summary: Paginated transactions for one block
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: number
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 8279910
        - name: cursor
          in: query
          description: Optional transaction index cursor for reverse pagination.
          schema:
            type: integer
            format: int32
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Page size (clamped to 1..100). Defaults to `25` when omitted.
          schema:
            type: integer
            format: int32
            default: 25
            minimum: 1
            maximum: 100
          example: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Block transaction page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockTransactionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Block not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/tx/previews:
    post:
      summary: Batch transaction previews by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionPreviewBatchRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  hashes:
                    - "0x054bfd961fb8b156c77ffa0f7882b8fcc1836753c2d3d88435b640d6300c8bd9"
                  includeLogs: false
                  includeLogCounts: true
                  logLimitPerTx: 16
      responses:
        "200":
          description: Ordered transaction preview results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionPreviewBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      description: Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      tags:
        - Utilities
  /v1/{chain}/tx/{tx_hash}:
    get:
      summary: Transaction detail by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: tx_hash
          in: path
          required: true
          schema:
            type: string
          example: "0x054bfd961fb8b156c77ffa0f7882b8fcc1836753c2d3d88435b640d6300c8bd9"
        - name: logLimit
          in: query
          description: Maximum number of event logs returned in the transaction detail payload. Defaults to `96` when omitted.
          schema:
            type: integer
            format: int32
            default: 96
            minimum: 1
            maximum: 256
          example: 96
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Transaction detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionDetailView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Transaction not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          description: The requested Sepolia transaction was intentionally removed by the rolling indexed-history policy.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryExpiredErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/txs:
    get:
      summary: Paginated latest transactions feed
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Optional cursor encoded as `block:tx`.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..200).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Chain transactions page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainTransactionListPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/bridge/starkgate/resolve:
    get:
      summary: Resolve StarkGate bridge activity
      description: Resolves StarkGate lifecycle rows from indexed L1/L2 protocol message and bridge facts. At least one of `txHash`, `messageHash`, `address`, `token`, or `bridge` is required.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: txHash
          in: query
          description: Optional Starknet transaction hash to resolve.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: messageHash
          in: query
          description: Optional protocol message hash to resolve.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: address
          in: query
          description: Optional sender or recipient address filter.
          schema:
            type: string
        - name: token
          in: query
          description: Optional token address filter.
          schema:
            type: string
        - name: bridge
          in: query
          description: Optional L1 or L2 bridge contract address filter.
          schema:
            type: string
        - name: direction
          in: query
          description: Optional message direction filter.
          schema:
            type: string
            enum:
              - all
              - l1_to_l2
              - l2_to_l1
            default: all
        - name: limit
          in: query
          description: Page size for resolver matches (clamped to 1..25).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 25
            default: 10
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: StarkGate transfer resolution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StarkgateTransferResolutionView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/bridge/starkgate/transfers:
    get:
      summary: Paginated StarkGate bridge transfers
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: messageHash
          in: query
          description: Optional exact protocol message hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: address
          in: query
          description: Optional sender or recipient address filter.
          schema:
            type: string
        - name: token
          in: query
          description: Optional token address filter.
          schema:
            type: string
        - name: bridge
          in: query
          description: Optional L1 or L2 bridge contract address filter.
          schema:
            type: string
        - name: status
          in: query
          description: Optional transfer status filter. `pending_l1_claim` is retained as a compatibility filter for uncleared withdrawals. Claimability is sourced from a finalized StarknetCore registry snapshot; missing evidence returns `claimability_unavailable` and snapshots older than five minutes return `claimability_stale` rather than being reused as current readiness.
          schema:
            type: string
            enum:
              - l1_observed
              - consumed_on_l2
              - l2_only_signal
              - pending_l1_claim
              - pending_l1_proof
              - claimability_ambiguous
              - claimability_unavailable
              - claimability_stale
              - ready_to_claim_on_l1
              - cleared_on_l1
              - unpaired
        - name: direction
          in: query
          description: Optional message direction filter.
          schema:
            type: string
            enum:
              - all
              - l1_to_l2
              - l2_to_l1
            default: all
        - name: cursor
          in: query
          description: Optional opaque StarkGate transfer cursor returned from `nextCursor`. New cursors are integrity-protected, expire after five minutes, and pin both the L1 accepted watermark and registry-freshness cutoff for stable claimability pagination. Clients must return the value unchanged and restart pagination after `400`; legacy position-only cursors remain accepted, while unsigned snapshot-bound cursors fail closed.
          schema:
            type: string
            maxLength: 1024
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: StarkGate transfer page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StarkgateTransferPageView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/bridge/starkgate/transfer/{message_hash}:
    get:
      summary: Resolve StarkGate bridge transfers by message hash
      description: Resolver endpoint for one protocol message hash. Returns the indexed resolution view, which may contain zero or more matching transfer rows and explicit coverage metadata.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: message_hash
          in: path
          required: true
          description: Protocol message hash.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
          example: "0x0123456789abcdef0123456789abcdef"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: StarkGate transfer resolver results for one message hash
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StarkgateTransferResolutionView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/messages:
    get:
      summary: Paginated canonical cross-layer messages
      description: Global cross-layer message feed served only from indexed StarknetCore protocol message facts. Rows are keyed by protocol message hash, not token-transfer or bridge-adapter activity. Coverage metadata is explicit because a data plane may still be backfilling protocol message facts.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: direction
          in: query
          description: Optional message direction filter.
          schema:
            type: string
            enum:
              - all
              - l1_to_l2
              - l2_to_l1
        - name: txHash
          in: query
          description: Optional transaction hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: messageHash
          in: query
          description: Optional protocol message hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: cursor
          in: query
          description: |
            Optional opaque cursor returned unchanged from `nextCursor`. New responses use `m1:block:tx:message:tx_hash:message_hash:direction:source_tier` so pagination remains stable when multiple messages share the same numeric tuple. Legacy `block:tx:message` cursors remain accepted for older clients.
          schema:
            type: string
            pattern: ^(m1:[0-9]+:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]+:0[xX][0-9a-fA-F]+:(l1_to_l2|l2_to_l1):(head|finalized)|[0-9]+:[0-9]+:[0-9]+)$
        - name: limit
          in: query
          description: Page size (defaults to the full bounded pool directory page; clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Global message page with explicit coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/message/{message_hash}:
    get:
      summary: Canonical cross-layer message detail
      description: Message detail served only from indexed StarknetCore protocol message facts. Bridge adapter lifecycle facts and token-transfer-derived bridge activity are excluded.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: message_hash
          in: path
          required: true
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
          example: "0x0123456789abcdef0123456789abcdef"
        - name: cursor
          in: query
          description: Optional opaque cursor returned from `nextCursor` when a message hash has more lifecycle rows.
          schema:
            type: string
            pattern: ^(m1:[0-9]+:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]+:0[xX][0-9a-fA-F]+:(l1_to_l2|l2_to_l1):(head|finalized)|[0-9]+:[0-9]+:[0-9]+)$
        - name: limit
          in: query
          description: Page size for lifecycle rows (clamped to 1..100, default 100).
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Message detail with explicit coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageDetailView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Message hash has no indexed StarknetCore protocol lifecycle rows
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/tx/{tx_hash}/trace:
    get:
      summary: Transaction Cairo trace by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: tx_hash
          in: path
          required: true
          schema:
            type: string
          example: "0x054bfd961fb8b156c77ffa0f7882b8fcc1836753c2d3d88435b640d6300c8bd9"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Transaction trace payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractTransactionTraceView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Transaction trace not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/address/{address}:
    get:
      summary: Address aggregate summary
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
          example: "0x0123456789abcdef"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressSummaryView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/{address}/attribution:
    get:
      summary: Indexed address attribution
      description: Address-oriented attribution lookup backed by indexed metadata. Use this when a partner workflow starts from an address and needs a readable label/protocol attribution without calling RPC on the request path.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
          example: "0x0123456789abcdef"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Indexed address attribution metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressAttributionView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/summaries:
    post:
      summary: Batch address aggregate summaries
      description: |-
        Utility-tier batch helper for bounded address hydration. The route returns request-ordered indexed summary facts for up to 128 addresses and intentionally avoids raw activity scans, deployment repair, and RPC calls on the request path. `totalActivityCount=null` with `activityCountExact=false` means no trustworthy numeric statement is available; numeric zero is reserved for a certified exhaustive range.

        Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressSummaryBatchRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  addresses:
                    - "0x0123456789abcdef"
      responses:
        "200":
          description: Ordered address summary results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressSummaryBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Utilities
  /v1/{chain}/address/intelligence:
    post:
      summary: Batch address deployment, attribution, typed activity, and inbound-funds intelligence
      description: |-
        Utility-tier batch helper for wallet, paymaster, migration, and compliance-adjacent clients that need factual classification for a bounded list of up to 128 addresses. The route returns whether each address has indexed deployment evidence, optional readable attribution, whether indexed token-transfer rows show the address as a recipient, and typed activity coverage. Successful finalized account-sender, trace-backed finalized contract-call, and canonical finalized contract-emitted event evidence preserves the proved latest block while its total remains null until a success-only exhaustive aggregate is certified; unknown or unmaterialized totals are null, while a certified exhaustive genuine zero is 0; reorgable head rows are not promoted. It is backed by read-model indexes only; it does not call RPC on the request path and does not perform risk scoring or sanctions screening.

        Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressSummaryBatchRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  addresses:
                    - "0x0123456789abcdef"
      responses:
        "200":
          description: Ordered address intelligence results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressIntelligenceBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Utilities
  /v1/{chain}/classes:
    get:
      summary: Materialized class directory
      description: Pages bounded indexed class facts without request-path raw-table aggregation or live RPC. `instances_desc` is the compatibility default for observed class associations. `declared_at_desc` and `origin_asc` page the complete indexed DECLARE and legacy DEPLOY origin catalog newest or oldest first; instance and ABI fields are optional observed enrichment. `classLabel` is a reviewed class-family label when available, not exact source verification.
      externalDocs:
        description: Class origin, instance, and classification coverage guide
        url: https://starkscan.co/docs/api/classes
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Opaque cursor returned from `nextCursor`; cursors are sort-specific (`c1` for `instances_desc`, `c2` for `declared_at_desc` or `origin_asc`).
          schema:
            type: string
            pattern: ^c(?:1:[0-9]+:0[xX][0-9a-fA-F]{1,64}|2:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]{1,64})$
        - name: sort
          in: query
          description: "`instances_desc` preserves the observed-instance directory default; `declared_at_desc` and `origin_asc` return the complete indexed class-origin catalog newest or oldest first."
          schema:
            type: string
            enum:
              - instances_desc
              - declared_at_desc
              - origin_asc
            default: instances_desc
        - name: limit
          in: query
          description: Page size (clamped to 1..100, default 50).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Materialized class directory page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDirectoryPageView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/class/{class_hash}:
    get:
      summary: Materialized class detail
      description: Returns one indexed declaration or observed class record and a bounded page of observed contract/account instances. Declaration-only classes resolve with honest zero/null observation fields. This endpoint reads indexed facts only; it does not call RPC on the request path and does not claim exact source verification unless future verification tiers say so explicitly.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: class_hash
          in: path
          required: true
          description: Starknet class hash.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
          example: "0x0123456789abcdef"
        - name: instanceSort
          in: query
          description: Address order is the compatibility default; newest order exposes the latest block-backed relationship evidence first.
          schema:
            type: string
            enum:
              - address_asc
              - newest_desc
            default: address_asc
        - name: instanceCursor
          in: query
          description: Sort-specific cursor returned from `nextInstanceCursor`; an address for `address_asc` or a `c3` cursor for `newest_desc`.
          schema:
            type: string
            pattern: ^(?:0[xX][0-9a-fA-F]{1,64}|c3:(?:-1|[0-9]+):0[xX][0-9a-fA-F]{1,64})$
        - name: instanceLimit
          in: query
          description: Instance page size (clamped to 1..100, default 25).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Materialized class detail and bounded indexed instances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDetailView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Class has no indexed declaration or observed-class fact
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/query/wallet-paymaster-view:
    post:
      summary: Wallet/paymaster query bundle
      description: Partner Query Plane bundle for wallet and paymaster backends. The first slice returns bounded, request-ordered address identity, account state, and proof-backed L1 finality metadata for up to 32 unique addresses. It is backed by indexed read-model facts only and does not call RPC or scan raw activity on the request path. Token holdings, recent transactions, bridge/message rollups, and row-level provenance details are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section` instead of returning partial success.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletPaymasterViewRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  addresses:
                    - "0x0123456789abcdef"
                  include:
                    identity: true
                    accountState: true
                    finality: true
                  freshness:
                    requireFresh: false
      responses:
        "200":
          description: Wallet/paymaster bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - wallet_paymaster
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. Wallet/paymaster formula: 2 base units + 1 unit per requested address + 1 unit per 8 addresses when `accountState` is enabled + 1 unit when `finality` is enabled. Forward-compatible unsupported sections have reserved costs and fail closed in v1.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletPaymasterQueryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/query/wallet-state:
    post:
      summary: Verify one wallet's fungible state at one immutable block
      description: One bounded wallet-screen operation. Candidate discovery and balance correctness are separate contracts. Every returned balance, optional nonce, and optional class hash is read from the dedicated RPC serving pool at the same resolved block hash. The server never substitutes an indexed balance and never converts an RPC error to zero. In require_complete mode, any failed value returns HTTP 503 without a partial success payload. verified_partial mode returns typed per-item failures and walletSafe=false. The current public contract accepts at most 25 candidates. The 26-50 band remains unavailable until dedicated-pool and clean-window capacity certification plus a coordinated schema and client release.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletStateRequest"
            examples:
              boundedExplicitWallet:
                summary: Verify one explicit token at the latest accepted L2 block
                value:
                  ownerAddress: "0x0123456789abcdef"
                  mode: require_complete
                  scope: explicit
                  tokenAddresses:
                    - "0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d"
                  blockPreference: latest_accepted_l2
      responses:
        "200":
          description: Block-pinned complete or typed-partial wallet state
          headers:
            X-Starkscan-Query-Class:
              schema:
                type: string
                enum:
                  - wallet_state
            X-Starkscan-Cost-Units:
              description: One partner operation within the bounded 1-25 token band.
              schema:
                type: integer
                const: 1
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletStateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/query/defi-lending-market-view:
    post:
      summary: DeFi lending market query bundle
      description: Partner Query Plane bundle for Vesu-style lending markets, DeFi frontends, risk monitors, and liquidation services. The first slice returns request-ordered market selectors, bounded indexed contract identity, token address echoes, proof-backed L1 finality metadata, and simulation boundary metadata. It is backed by indexed read-model facts only and does not call RPC, scan events, compute risk, or read signed payloads on the request path. State samples, events, recent transactions, and row-level provenance details are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section`.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefiLendingMarketViewRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  markets:
                    - marketId: vesu-main
                      contracts:
                        - "0x0123456789abcdef"
                      tokenAddresses:
                        - "0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d"
                  include:
                    contractIdentity: true
                    simulationMetadata: true
                  freshness:
                    requireFresh: false
      responses:
        "200":
          description: DeFi lending market bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - defi_lending
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. DeFi lending formula: 5 base units + 3 units per requested market + 1 unit per 16 requested contracts when `contractIdentity` is enabled + 1 unit per requested market when `simulationMetadata` is enabled.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefiLendingMarketQueryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/query/support-proof-bundle:
    post:
      summary: Support/proof query bundle
      description: Partner Query Plane bundle for support, bridge/message debugging, and customer-success proof packets. The v1 slice accepts exactly one incident selector (`txHash` or `messageHash`) and returns bounded indexed transaction detail, protocol-message lifecycle rows, StarkGate transfer resolution, and proof-backed L1 finality metadata. It is backed by indexed read-model facts only and does not call RPC, Ethereum RPC, or provider comparison endpoints on the request path. Row-level provenance details and shareable redacted proof links are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section`.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupportProofBundleRequest"
            examples:
              boundedRequest:
                summary: Bounded source-owned request fixture
                value:
                  txHash: "0x054bfd961fb8b156c77ffa0f7882b8fcc1836753c2d3d88435b640d6300c8bd9"
                  supportCorrelationId: example-support-case-001
      responses:
        "200":
          description: Support/proof bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - support_proof
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. Support/proof formula: 8 base units + 4 units each for requested `transaction`, `protocolMessages`, and `starkgate` sections + 1 unit when `finality` is enabled.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportProofBundleEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
[...]
