openapi: 3.1.0
info:
  title: Starkscan Explorer API
  version: 2.0.0
  description: Breaking Starkscan rename of the previous public explorer contract for external integrators, SDKs, CLI workflows, and direct API integrations, including selected advanced utility routes. Clients generated from older artifacts must switch to the Starkscan discovery path, auth header, vendor extensions, and schema identifiers.
servers:
  - url: https://api.starkscan.co
    description: Hosted external Starkscan API base. Requests execute against /v1/* on the API host; app-host /api/v1/* remains compatibility.
security:
  - StarkscanApiKey: []
paths:
  /.well-known/starkscan-agent.json:
    get:
      summary: Agent-readable Starkscan memory contract
      description: Public machine-readable discovery document for agents. It points agents at the authenticated meta routes, route families, operating rules, and typed artifact contract without requiring chat history.
      servers:
        - url: /
          description: Same-host public well-known discovery root
      security:
        - {}
      responses:
        "200":
          description: Agent-readable discovery and operating contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMemoryContract"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: public
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/capabilities:
    get:
      summary: Agent-readable API capabilities
      description: Authenticated route-family catalog for agents and developers. Hosted external clients call `/v1/meta/capabilities` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge. Use this before selecting the smallest route set for a task.
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Capability and route-family catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaCapabilitiesView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/chains:
    get:
      summary: Supported chain ids for this deployment
      description: Authenticated chain catalog. Hosted external clients call `/v1/meta/chains` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge.
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Supported chain metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaChainsView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/meta/agent-context:
    get:
      summary: Full agent context contract
      description: Authenticated context document that combines the public agent-memory contract with handoff artifact guidance. Hosted external clients call `/v1/meta/agent-context` with `X-Starkscan-Api-Key`. Same-origin explorer traffic uses this `/v1` route through the trusted edge.
      security:
        - StarkscanApiKey: []
      responses:
        "200":
          description: Full agent context contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaAgentContextView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      tags:
        - Reference
  /v1/{chain}/status:
    get:
      summary: Chain status
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Current indexed and finalized head status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerStatusView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Status
  /v1/{chain}/status/indexing-freshness:
    get:
      summary: Indexing freshness health
      description: Fail-closed semantic health check for external monitoring. Compares one bounded live Starknet RPC head lookup with Starkscan's indexed read-model watermark. Returns HTTP 200 only when both facts are available, internally consistent, and no more than 20 blocks apart; otherwise returns HTTP 503. This endpoint evaluates Starkscan indexing freshness only and does not attribute a failure to Starknet or an upstream provider. The chain path parameter must match the chain served by the deployment; other chains return HTTP 404 without querying an RPC.
      security: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Starkscan indexing is within the monitored freshness threshold
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexingFreshnessHealthView"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/IndexingFreshnessDegraded"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: public
      tags:
        - Status
  /v1/{chain}/rpc:
    post:
      summary: Starknet JSON-RPC gateway
      description: Bounded Starknet JSON-RPC gateway. Read methods are forwarded through Starkscan's rate-limited upstream pool; write methods remain gated by the RPC pilot controls. Accepts a single JSON-RPC request object or a batch of up to 25 request objects. JSON parse errors and invalid JSON-RPC payloads are returned as JSON-RPC error envelopes with HTTP 200 so clients can keep standard JSON-RPC handling.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/JsonRpcRequest"
                - $ref: "#/components/schemas/JsonRpcBatchRequest"
      responses:
        "200":
          description: JSON-RPC response or JSON-RPC error envelope forwarded from the gateway
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/JsonRpcResponse"
                  - $ref: "#/components/schemas/JsonRpcBatchResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Reference
  /v1/{chain}/rpc/ws:
    get:
      summary: Starknet JSON-RPC WebSocket proxy
      description: Beta WebSocket upgrade route for Starknet JSON-RPC subscription clients. The route is disabled unless the deployment explicitly enables `RPC_WSS_ENABLED` and configures a Starknet WebSocket upstream. After a successful protocol upgrade, clients send and receive Starknet JSON-RPC subscription messages over the WebSocket connection. This lane is certified separately from the HTTP JSON-RPC gateway.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "101":
          description: WebSocket protocol upgrade accepted.
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Chain is not served by this deployment.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Reference
  /v1/{chain}/block/{number_or_hash}:
    get:
      summary: Block detail by number or hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: number_or_hash
          in: path
          required: true
          schema:
            type: string
          example: "7550747"
        - name: tx_limit
          in: query
          description: Max block transactions returned (clamped to 1..200). Defaults to `50` when omitted.
          schema:
            type: integer
            format: int32
            default: 50
            minimum: 1
            maximum: 200
          example: 50
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Block detail with transaction preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Block not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          description: The requested Sepolia block was intentionally removed by the rolling indexed-history policy.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryExpiredErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/block-at-timestamp:
    get:
      summary: Resolve timestamp to indexed block
      description: Resolve a Unix seconds or RFC3339 timestamp to the closest indexed Starknet block. `closest=before` is the default and is the right choice for accounting "as of" balance snapshots such as calendar close. The route is served from indexed block facts only; RPC is used by the correctness gate, not by the request path.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: timestamp
          in: query
          required: true
          description: Unix seconds or RFC3339 timestamp with timezone.
          schema:
            oneOf:
              - type: string
                pattern: ^[0-9]{1,19}$
                description: Unix seconds.
              - type: string
                format: date-time
                maxLength: 96
                description: RFC3339 timestamp with timezone.
          example: 2025-12-31T23:59:59Z
        - name: closest
          in: query
          description: |
            Direction for the selected block. `before` returns the last indexed block at or before the timestamp; `after` returns the first indexed block at or after the timestamp.
          schema:
            type: string
            enum:
              - before
              - after
            default: before
          example: before
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Timestamp resolution with inclusive indexed bounds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockAtTimestampView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: No indexed block exists in the requested closest direction
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/blocks:
    get:
      summary: Paginated latest blocks feed
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Optional block number cursor for reverse pagination.
          schema:
            type: integer
            format: int64
            minimum: 0
          example: 8279910
        - name: limit
          in: query
          description: Page size (clamped to 1..200). Defaults to `25` when omitted.
          schema:
            type: integer
            format: int32
            default: 25
            minimum: 1
            maximum: 200
          example: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Chain blocks page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainBlockListPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/block/{number}/txs:
    get:
      summary: Paginated transactions for one block
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: number
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 8279910
        - name: cursor
          in: query
          description: Optional transaction index cursor for reverse pagination.
          schema:
            type: integer
            format: int32
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Page size (clamped to 1..100). Defaults to `25` when omitted.
          schema:
            type: integer
            format: int32
            default: 25
            minimum: 1
            maximum: 100
          example: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Block transaction page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockTransactionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Block not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Blocks
  /v1/{chain}/tx/previews:
    post:
      summary: Batch transaction previews by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionPreviewBatchRequest"
      responses:
        "200":
          description: Ordered transaction preview results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionPreviewBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      description: Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      tags:
        - Utilities
  /v1/{chain}/tx/{tx_hash}:
    get:
      summary: Transaction detail by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: tx_hash
          in: path
          required: true
          schema:
            type: string
          example: "0x054bfd961fb8b156c77ffa0f7882b8fcc1836753c2d3d88435b640d6300c8bd9"
        - name: logLimit
          in: query
          description: Maximum number of event logs returned in the transaction detail payload. Defaults to `96` when omitted.
          schema:
            type: integer
            format: int32
            default: 96
            minimum: 1
            maximum: 256
          example: 96
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Transaction detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionDetailView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Transaction not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          description: The requested Sepolia transaction was intentionally removed by the rolling indexed-history policy.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryExpiredErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/txs:
    get:
      summary: Paginated latest transactions feed
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Optional cursor encoded as `block:tx`.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..200).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Chain transactions page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainTransactionListPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/messages:
    get:
      summary: Paginated canonical cross-layer messages
      description: Global cross-layer message feed served only from indexed StarknetCore protocol message facts. Rows are keyed by protocol message hash, not token-transfer or bridge-adapter activity. Coverage metadata is explicit because a data plane may still be backfilling protocol message facts.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: direction
          in: query
          description: Optional message direction filter.
          schema:
            type: string
            enum:
              - all
              - l1_to_l2
              - l2_to_l1
        - name: txHash
          in: query
          description: Optional transaction hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: messageHash
          in: query
          description: Optional protocol message hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: cursor
          in: query
          description: |
            Optional opaque cursor returned unchanged from `nextCursor`. New responses use `m1:block:tx:message:tx_hash:message_hash:direction:source_tier` so pagination remains stable when multiple messages share the same numeric tuple. Legacy `block:tx:message` cursors remain accepted for older clients.
          schema:
            type: string
            pattern: ^(m1:[0-9]+:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]+:0[xX][0-9a-fA-F]+:(l1_to_l2|l2_to_l1):(head|finalized)|[0-9]+:[0-9]+:[0-9]+)$
        - name: limit
          in: query
          description: Page size (defaults to the full bounded pool directory page; clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Global message page with explicit coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/tx/{tx_hash}/trace:
    get:
      summary: Transaction Cairo trace by hash
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: tx_hash
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Transaction trace payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractTransactionTraceView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Transaction trace not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Transactions
  /v1/{chain}/address/{address}:
    get:
      summary: Address aggregate summary
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressSummaryView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/{address}/attribution:
    get:
      summary: Indexed address attribution
      description: Address-oriented attribution lookup backed by indexed metadata. Use this when a partner workflow starts from an address and needs a readable label/protocol attribution without calling RPC on the request path.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Indexed address attribution metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressAttributionView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/summaries:
    post:
      summary: Batch address aggregate summaries
      description: |-
        Utility-tier batch helper for bounded address hydration. The route returns request-ordered indexed summary facts for up to 128 addresses and intentionally avoids raw activity scans, deployment repair, and RPC calls on the request path. Treat `activityCountExact=false` as an explicit inexact/unknown signal, not as proof that an address has no additional activity.

        Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressSummaryBatchRequest"
      responses:
        "200":
          description: Ordered address summary results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressSummaryBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Utilities
  /v1/{chain}/address/intelligence:
    post:
      summary: Batch address deployment, attribution, and inbound-funds intelligence
      description: |-
        Utility-tier batch helper for wallet, paymaster, migration, and compliance-adjacent clients that need factual classification for a bounded list of up to 128 addresses. The route returns whether each address has indexed deployment evidence, optional readable attribution, and whether indexed token-transfer rows show the address as a recipient. It is backed by read-model indexes only; it does not call RPC on the request path and does not perform risk scoring or sanctions screening.

        Advanced utility route. This helper is externally supported, but it requires a broader utility-access key than the baseline read tier and is not the default starting point for new integrations.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressSummaryBatchRequest"
      responses:
        "200":
          description: Ordered address intelligence results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressIntelligenceBatchView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: advanced-utility
      x-starkscan-key-tier: utility
      tags:
        - Utilities
  /v1/{chain}/classes:
    get:
      summary: Materialized class directory
      description: Pages bounded indexed class facts without request-path raw-table aggregation or live RPC. `instances_desc` is the compatibility default for observed class associations. `declared_at_desc` and `origin_asc` page the complete indexed DECLARE and legacy DEPLOY origin catalog newest or oldest first; instance and ABI fields are optional observed enrichment. `classLabel` is a reviewed class-family label when available, not exact source verification.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: cursor
          in: query
          description: Opaque cursor returned from `nextCursor`; cursors are sort-specific (`c1` for `instances_desc`, `c2` for `declared_at_desc` or `origin_asc`).
          schema:
            type: string
            pattern: ^c(?:1:[0-9]+:0[xX][0-9a-fA-F]{1,64}|2:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]{1,64})$
        - name: sort
          in: query
          description: "`instances_desc` preserves the observed-instance directory default; `declared_at_desc` and `origin_asc` return the complete indexed class-origin catalog newest or oldest first."
          schema:
            type: string
            enum:
              - instances_desc
              - declared_at_desc
              - origin_asc
            default: instances_desc
        - name: limit
          in: query
          description: Page size (clamped to 1..100, default 50).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Materialized class directory page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDirectoryPageView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/class/{class_hash}:
    get:
      summary: Materialized class detail
      description: Returns one indexed declaration or observed class record and a bounded page of observed contract/account instances. Declaration-only classes resolve with honest zero/null observation fields. This endpoint reads indexed facts only; it does not call RPC on the request path and does not claim exact source verification unless future verification tiers say so explicitly.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: class_hash
          in: path
          required: true
          description: Starknet class hash.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: instanceSort
          in: query
          description: Address order is the compatibility default; newest order exposes the latest block-backed relationship evidence first.
          schema:
            type: string
            enum:
              - address_asc
              - newest_desc
            default: address_asc
        - name: instanceCursor
          in: query
          description: Sort-specific cursor returned from `nextInstanceCursor`; an address for `address_asc` or a `c3` cursor for `newest_desc`.
          schema:
            type: string
            pattern: ^(?:0[xX][0-9a-fA-F]{1,64}|c3:(?:-1|[0-9]+):0[xX][0-9a-fA-F]{1,64})$
        - name: instanceLimit
          in: query
          description: Instance page size (clamped to 1..100, default 25).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 25
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Materialized class detail and bounded indexed instances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDetailView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Class has no indexed declaration or observed-class fact
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/query/wallet-paymaster-view:
    post:
      summary: Wallet/paymaster query bundle
      description: Partner Query Plane bundle for wallet and paymaster backends. The first slice returns bounded, request-ordered address identity, account state, and proof-backed L1 finality metadata for up to 32 unique addresses. It is backed by indexed read-model facts only and does not call RPC or scan raw activity on the request path. Token holdings, recent transactions, bridge/message rollups, and row-level provenance details are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section` instead of returning partial success.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletPaymasterViewRequest"
      responses:
        "200":
          description: Wallet/paymaster bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - wallet_paymaster
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. Wallet/paymaster formula: 2 base units + 1 unit per requested address + 1 unit per 8 addresses when `accountState` is enabled + 1 unit when `finality` is enabled. Forward-compatible unsupported sections have reserved costs and fail closed in v1.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletPaymasterQueryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/query/defi-lending-market-view:
    post:
      summary: DeFi lending market query bundle
      description: Partner Query Plane bundle for Vesu-style lending markets, DeFi frontends, risk monitors, and liquidation services. The first slice returns request-ordered market selectors, bounded indexed contract identity, token address echoes, proof-backed L1 finality metadata, and simulation boundary metadata. It is backed by indexed read-model facts only and does not call RPC, scan events, compute risk, or read signed payloads on the request path. State samples, events, recent transactions, and row-level provenance details are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section`.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefiLendingMarketViewRequest"
      responses:
        "200":
          description: DeFi lending market bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - defi_lending
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. DeFi lending formula: 5 base units + 3 units per requested market + 1 unit per 16 requested contracts when `contractIdentity` is enabled + 1 unit per requested market when `simulationMetadata` is enabled.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefiLendingMarketQueryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/query/support-proof-bundle:
    post:
      summary: Support/proof query bundle
      description: Partner Query Plane bundle for support, bridge/message debugging, and customer-success proof packets. The v1 slice accepts exactly one incident selector (`txHash` or `messageHash`) and returns bounded indexed transaction detail, protocol-message lifecycle rows, StarkGate transfer resolution, and proof-backed L1 finality metadata. It is backed by indexed read-model facts only and does not call RPC, Ethereum RPC, or provider comparison endpoints on the request path. Row-level provenance details and shareable redacted proof links are reserved for forward-compatible request shapes; when enabled in v1 they fail closed with `unsupported_section`.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - $ref: "#/components/parameters/RequestIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupportProofBundleRequest"
      responses:
        "200":
          description: Support/proof bundle envelope
          headers:
            X-Starkscan-Route-Class:
              description: Route budget class for class-specific backoff.
              schema:
                type: string
                enum:
                  - batch
            X-Starkscan-Query-Class:
              description: Query Plane bundle class used for accounting and support.
              schema:
                type: string
                enum:
                  - support_proof
            X-Starkscan-Cost-Units:
              description: |
                Cost units charged for this Query Plane request. Support/proof formula: 8 base units + 4 units each for requested `transaction`, `protocolMessages`, and `starkgate` sections + 1 unit when `finality` is enabled.
              schema:
                type: integer
                format: int64
            x-ratelimit-limit:
              schema:
                type: integer
                format: int64
            x-ratelimit-remaining:
              schema:
                type: integer
                format: int64
            x-ratelimit-policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportProofBundleEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Reference
  /v1/{chain}/address/{address}/transactions:
    get:
      summary: Paginated transaction summaries touching one address
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Optional cursor encoded as `block:tx:log:transfer[:kind[:txHash[:source]]]`.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address transaction page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTransactionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/{address}/token-holdings:
    get:
      summary: Indexed token holdings for one owner address
      description: Wallet-first indexed holdings snapshot. Use `completeness` to decide whether the response is complete enough for portfolio parity checks. Use `GET /v1/{chain}/token/{token}/balance-of/{address}` for an exact spot read when the token contract is already known.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address token holdings snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTokenHoldingsView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/contract/{address}:
    get:
      summary: Indexed contract metadata
      description: Lightweight contract metadata for migration clients. The response is composed only from indexed read-model facts; nullable token fields mean the contract is not currently identified as token metadata in the index, not that it is provably not a token.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Indexed contract metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractMetadataView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/verification:
    get:
      summary: Legacy contract verification migration state
      deprecated: true
      description: Legacy migration state only. It is not reproducible source evidence and never establishes `verified_exact`.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Legacy migration record; not reproducible source evidence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractVerificationView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Contract verification record not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/entrypoints:
    get:
      summary: Contract class entrypoints
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Contract entrypoint selectors grouped by type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEntrypointsView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Contract/class not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/events:
    get:
      summary: Paginated contract event logs
      description: Canonical paginated event/log surface for one contract. Use server-side topic and block filters before applying client-side protocol interpretation. Results are returned newest first in deterministic on-chain order (`blockNumber` DESC, `txIndex` DESC, `logIndex` DESC). Topic filters in this route are exact single-value matches (`topic0..topic3`), not OR-array combinations. The request `cursor` is exclusive and resumes after the last seen `(blockNumber, txIndex, logIndex)` tuple. Pass `nextCursor` from the previous response to continue without gaps or duplicates.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: topic0
          in: query
          description: Optional exact single-value match for the first log topic/event selector. Empty strings are invalid.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: selector
          in: query
          description: Alias for `topic0` when filtering by Starknet event selector. Do not pass both `selector` and `topic0`.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: topic1
          in: query
          description: Optional exact single-value match for the second log topic. Empty strings are invalid.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: topic2
          in: query
          description: Optional exact single-value match for the third log topic. Empty strings are invalid.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: topic3
          in: query
          description: Optional exact single-value match for the fourth log topic. Empty strings are invalid.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: from_block
          in: query
          description: Optional inclusive lower block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: to_block
          in: query
          description: Optional inclusive upper block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Contract event page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEventPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          description: An explicit Sepolia block bound or cursor is outside the rolling indexed-history window.
          headers:
            X-Request-Id:
              description: Canonical request correlation header for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryExpiredErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/messages:
    get:
      summary: Paginated canonical messages for one contract
      description: Contract-scoped cross-layer message rows served only from indexed StarknetCore protocol message facts. Starkscan does not infer Messages rows from bridge adapter pairing facts, generic transactions, events, or token transfers. Coverage metadata is explicit because a data plane may still be backfilling protocol message facts.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: direction
          in: query
          description: Optional message direction filter.
          schema:
            type: string
            enum:
              - all
              - l1_to_l2
              - l2_to_l1
        - name: txHash
          in: query
          description: Optional transaction hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: messageHash
          in: query
          description: Optional protocol message hash filter.
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: cursor
          in: query
          description: |
            Optional opaque cursor returned unchanged from `nextCursor`. New responses use `m1:block:tx:message:tx_hash:message_hash:direction:source_tier` so pagination remains stable when multiple messages share the same numeric tuple. Legacy `block:tx:message` cursors remain accepted for older clients.
          schema:
            type: string
            pattern: ^(m1:[0-9]+:[0-9]+:[0-9]+:0[xX][0-9a-fA-F]+:0[xX][0-9a-fA-F]+:(l1_to_l2|l2_to_l1):(head|finalized)|[0-9]+:[0-9]+:[0-9]+)$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Contract message page with explicit coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: beta
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/bridge-signals:
    get:
      summary: Paginated L2 bridge signal activity for one contract
      description: Returns low-latency bridge rows derived from indexed L2 token-transfer bridge signals, bridge registry matches, and bridge-asset mint/burn signals. This endpoint explicitly reports `coverage.status=partial` until L1 message pairing and cross-layer completion facts are indexed; clients must not treat these rows as complete L1/L2 lifecycle records.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
            pattern: ^0[xX][0-9a-fA-F]{1,64}$
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log:transfer` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Contract bridge signal page with explicit coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractBridgeTransactionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: beta
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/contract/{address}/read:
    get:
      summary: Read-only contract call
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: selector
          in: query
          required: true
          description: 0x-prefixed entrypoint selector felt
          schema:
            type: string
        - name: calldata
          in: query
          description: Optional felt/decimal calldata values (repeat key for multiple values).
          schema:
            type: array
            maxItems: 1024
            items:
              type: string
          style: form
          explode: true
        - name: block_tag
          in: query
          description: State reference used for call execution. Use `latest` or `pending` for live reads, or pass a block number/hash for deterministic correctness checks.
          schema:
            allOf:
              - $ref: "#/components/schemas/BlockReference"
            default: latest
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Read call result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractReadResultView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Contract or entrypoint not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Contracts
  /v1/{chain}/address/{address}/activity:
    get:
      summary: Paginated address activity
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: |
            Optional opaque cursor returned unchanged from `nextCursor`. New responses use `block:tx:log:transfer:kind:txHash[:source]` so pagination remains stable when multiple activity rows share the same numeric tuple. Legacy `block:tx:log:transfer` cursors remain accepted for older clients.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressActivityPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/address/{address}/transfers:
    get:
      summary: Paginated token transfers touching one address
      description: Address-scoped transfer history backed by the indexed global transfer table. Direction, token, block, cursor, and limit filters are applied before pagination. `any` returns transfers where the address is either sender or recipient; self-transfers are returned once. `in` returns recipient-side rows and `out` returns sender-side rows, so a self-transfer appears in both directional views.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: direction
          in: query
          description: |
            Optional direction relative to the path address: `any`, `in`, or `out`.
          schema:
            type: string
            enum:
              - any
              - in
              - out
            default: any
        - name: token
          in: query
          description: Optional repeated token-address filter.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
              pattern: ^0[xX][0-9a-fA-F]{1,64}$
          style: form
          explode: true
        - name: from_block
          in: query
          description: Optional inclusive lower block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: to_block
          in: query
          description: Optional inclusive upper block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log:transfer` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Address transfer page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalTransferPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Addresses
  /v1/{chain}/token/{token}:
    get:
      summary: Token aggregate summary
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenSummaryView"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Token not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/token/{token}/total-supply:
    get:
      summary: Standard-token totalSupply read
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
          example: "0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d"
        - name: block_tag
          in: query
          description: State reference used for call execution. Use `latest` or `pending` for live reads, or pass a block number/hash for deterministic correctness checks.
          schema:
            allOf:
              - $ref: "#/components/schemas/BlockReference"
            default: latest
          example: latest
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Standard-token totalSupply result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTotalSupplyView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Contract does not expose a supported totalSupply selector
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/token/{token}/balance-of/{address}:
    get:
      summary: Standard-token balanceOf read
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
          example: "0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d"
        - name: address
          in: path
          required: true
          schema:
            type: string
          example: "0x00ca1702e64c81d9a07b86bd2c540188d92a2c73cf5cc0e508d949015e7e84a7"
        - name: block_tag
          in: query
          description: State reference used for call execution. Use `latest` or `pending` for live reads, or pass a block number/hash for deterministic correctness checks.
          schema:
            allOf:
              - $ref: "#/components/schemas/BlockReference"
            default: latest
          example: latest
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Standard-token balanceOf result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenBalanceOfView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Contract does not expose a supported balanceOf selector
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      x-starkscan-audience: public-core
      x-starkscan-certification: certified
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/token/{token}/holders:
    get:
      summary: Paginated token holders with indexed balances
      description: |-
        Partner-tier endpoint for token-contract-first holder analytics. Results are served from materialized fungible-balance snapshots, not transfer-history scans.

        Partner-tier route backed by materialized serving tables. It is intended for bounded indexed reads and must not run request-time scans or repairs.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Optional opaque cursor returned unchanged from `nextCursor` in the previous response.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token holder page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Token contract not found or not recognized as a fungible token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Tokens
  /v1/{chain}/token/{token}/holders/analytics:
    get:
      summary: Cached token holder concentration analytics
      description: |-
        Returns the latest operator-materialized holder concentration snapshot; the request path does not compute holder analytics.

        Partner-tier route backed by materialized serving tables. It is intended for bounded indexed reads and must not run request-time scans or repairs.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token holder analytics snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderAnalyticsSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Token contract not found or not recognized as a fungible token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: partner
      x-starkscan-key-tier: partner
      tags:
        - Tokens
  /v1/{chain}/token/{token}/controls:
    get:
      summary: Indexed token control facts
      description: Returns the latest operator-materialized token control snapshot. Results are served from `token_controls_snapshot`; the request path does not run live RPC, public explorer calls, request-time ABI probes, or Account Calls.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token controls snapshot or a typed not-indexed response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenControlsView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Token contract not found or not recognized as a fungible token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/token/{token}/markets/pools:
    get:
      summary: Materialized token DEX pool facts
      description: |-
        Partner-tier endpoint for token-contract-first pool facts. Rows are served from `token_market_pool_snapshot`; token-level totals are served from the materialized rollup and are not recomputed on request. The route never performs request-time DEX, RPC, transfer, or Account Calls probes.

        Partner-tier route backed by materialized serving tables. It is intended for bounded indexed reads and must not run request-time scans or repairs.
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token market pool page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenMarketPoolPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "404":
          description: Token contract not found or not recognized as a fungible token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/token/{token}/transfers:
    get:
      summary: Paginated token transfers with optional address and block filters
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: token
          in: path
          required: true
          schema:
            type: string
        - name: address
          in: query
          description: Optional repeated wallet/address filter; matches transfers where either side is in the supplied set.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: from_block
          in: query
          description: Optional inclusive lower block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: to_block
          in: query
          description: Optional inclusive upper block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log:transfer` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Token transfer page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferPage"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Tokens
  /v1/{chain}/events:
    get:
      summary: Paginated raw events with optional address, topic0, and block filters
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: query
          description: Optional repeated contract/address filter.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: contract
          in: query
          description: Alias for repeated `address` filters, matching Voyager-style `/events?contract=...` clients. `address`, `contract`, and `contractAddress` share one 128-item filter budget before duplicate-equivalent values are removed.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: contractAddress
          in: query
          description: Alias for repeated `address` filters. `address`, `contract`, and `contractAddress` share one 128-item filter budget before duplicate-equivalent values are removed.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: topic0
          in: query
          description: Optional repeated event-selector filter.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: selector
          in: query
          description: Alias for repeated `topic0` event-selector filters. Do not use `key`, `keys`, or `topic1..topic3` on the global route; use `/contract/{address}/events` for exact later-topic slot filters.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: from_block
          in: query
          description: Optional inclusive lower block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: to_block
          in: query
          description: Optional inclusive upper block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Global raw event page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalEventPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/transfers:
    get:
      summary: Paginated normalized transfers with optional address, token, and block filters
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: address
          in: query
          description: Optional repeated wallet/address filter; matches transfers where either side is in the supplied set.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: token
          in: query
          description: Optional repeated token-address filter.
          schema:
            type: array
            maxItems: 128
            items:
              type: string
          style: form
          explode: true
        - name: direction
          in: query
          description: Optional direction relative to supplied address filters. Requires at least one `address` filter.
          schema:
            type: string
            enum:
              - any
              - in
              - out
            default: any
        - name: from_block
          in: query
          description: Optional inclusive lower block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: to_block
          in: query
          description: Optional inclusive upper block bound.
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: cursor
          in: query
          description: Optional cursor in `block:tx:log:transfer` numeric format.
          schema:
            type: string
            pattern: ^[0-9]+:[0-9]+:[0-9]+:[0-9]+$
        - name: limit
          in: query
          description: Page size (clamped to 1..100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Global transfer page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalTransferPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedText"
        "403":
          $ref: "#/components/responses/ForbiddenText"
        "410":
          $ref: "#/components/responses/HistoryExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
      x-starkscan-audience: public-core
      x-starkscan-certification: beta
      x-starkscan-stability: stable
      x-starkscan-surface-tier: official-public-api
      x-starkscan-key-tier: read
      tags:
        - Reference
  /v1/{chain}/privacy-pool/tvl:
    get:
      summary: Finalized Privacy Pool protected-value snapshot
      description: "Partner-oriented, versioned snapshot of public deposits minus public withdrawals from Starkscan's depth-confirmed indexed finalized tier. `finalizedOnly` does not mean L1 settlement: clients may call the snapshot L1-accepted only when `coverage.asOfL1Accepted` is true. The route reads a bounded materialized snapshot, indexed latest-cursor and L1-acceptance evidence, and cached price facts only; it never scans event history or calls RPC or a price provider on request. Raw token amounts remain authoritative. totalUsd is null unless every returned asset has complete accounting, token decimals, and a fresh exact cached USD quote. External integrations should call the authenticated https://api.starkscan.co/v1/{chain}/privacy-pool/tvl endpoint, or /api/v1/{chain}/privacy-pool/tvl on an app-origin deployment. Responses include weak ETag and Last-Modified validators. If-None-Match takes precedence over If-Modified-Since and a matching conditional read returns 304 with no body. Authenticated external responses remain private; validators reduce transfer and serialization work but do not authorize a shared cache to reuse keyed responses."
      security:
        - StarkscanApiKey: []
      parameters:
        - $ref: "#/components/parameters/ChainParam"
        - name: If-None-Match
          in: header
          required: false
          description: Weak or strong entity tag, comma-separated tag list, or `*`. Takes precedence over If-Modified-Since.
          schema:
            type: string
        - name: If-Modified-Since
          in: header
          required: false
          description: HTTP date for a best-effort cache-generation-time check. ETag is the authoritative validator.
          schema:
            type: string
            format: http-date
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Finalized Privacy Pool protected-value snapshot
          headers:
            ETag:
              description: Weak SHA-256 validator over the exact uncompressed JSON response bytes.
              schema:
                type: string
                pattern: ^W/"sha256-[0-9a-f]{64}"$
            Last-Modified:
              description: HTTP date for the in-process cache generation represented by this response.
              schema:
                type: string
                format: http-date
            Cache-Control:
              description: Public on the trusted same-origin lane and rewritten to private after successful external API-key authentication.
              schema:
                type: string
            Server-Timing:
              description: Includes the TVL cache outcome (`pp_tvl_cache_hit` or `pp_tvl_cache_miss`) and request-path timing metrics.
              schema:
                type: string
            X-Request-Id:
              description: Correlation identifier on authenticated private responses. Shared-cacheable trusted responses omit request-specific identifiers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacyPoolTvlView"
        "304":
          description: A supplied validator matches the current in-process cached representation. The response has no body and authentication and rate limiting still apply.
          headers:
            ETag:
              description: Validator for the current JSON representation.
              schema:
                type: string
                pattern: ^W/"sha256-[0-9a-f]{64}"$
            Last-Modified:
              description: HTTP date for the current in-process cache generation.
              schema:
                type: string
                format: http-date
            Cache-Control:
              description: Cache policy for the authenticated request lane.
              schema:
                type: string
            Server-Timing:
              description: Includes the TVL cache outcome and request-path timing metrics for the conditional read.
              schema:
                type: string
            X-Request-Id:
              description: Correlation identifier on authenticated private responses. Shared-cacheable trusted responses omit request-specific identifiers.
              schema:
                type: string
        "401":
[...]
